/*
1. Posicionamiento
2. Modelo caja
3. Tipografia
4. Visuales
5. Otros
*/

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 324px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    
}

header .header-title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40;
    text-align: center;
    align-self: center;
    
}

.header-title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-top: 36px;

}


.header-title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange)
}

 
.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 32px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");

}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

main .main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    align-items: center;

}

.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}


.main-exchange-container .background-img{
    
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.main-exchange-container-title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);

}

.main-exchange-container-title p{
    margin-bottom: 48px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;

}

.main-tables-container-title{
    width: 197px;
    height: 100%;
    margin: 0 auto;
    justify-content: left;

}
.main-tables-container-title h2{
    text-align: left;
    padding: 0 0 0 10px ;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FF9536;
}



.main-tables-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 197px;
    gap: 1px;
    margin: 0 auto;
    align-items: center;
}

.main-tables-container .main-tables-container-name{
    display: flex;
    align-items: center;
    font-family: 'Inter';
}

.main-tables-container .main-tables-container-name p{
    padding: 10px 12px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
}

.main-tables-container .main-tables-container-price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-tables-container .main-tables-container-price span{
    display: inline-block;
    padding: 10px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: #757575;
}
.main-tables-container .main-tables-container-price img{
    margin-left: 10px;

}

.main-benefits-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--black);

}


.main-benefits-container .main-benefits-container-top h2{
    width: 288px;
    margin-top: 64px;
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 26px;
    text-align: center;
    color: var(--just-white);

}

.main-benefits-container .main-benefits-container-top p{
    width: 288px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    text-align: center;
    color: #808080;    
}

.main-benefits-container .main-benefits-container-benefist .main-benefits-container-benefist-card{
    width: 288px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: var(--warm-black);

}

.main-benefits-container .main-benefits-container-benefist .main-benefits-container-benefist-card img{
    margin-bottom: 12px;
    width: 24px;
    height: 24px;


}

.main-benefits-container .main-benefits-container-benefist .main-benefits-container-benefist-card h3{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 18px;
    color: var(--just-white);
}

.main-benefits-container .main-benefits-container-benefist .main-benefits-container-benefist-card p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    color: #808080;
}

.main-benefits-container .main-benefits-container-bottom{
    position: relative;
    height: 387px;
    width: 100%;
    min-width: 320px;
    background-image: url("../assets/img/bitcoinbaby2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-benefits-container .main-benefits-container-bottom h2{
    position: absolute;
    top: 60px;
    width: 100%;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 26px;
    text-align: center;
    color: var(--just-white);
}

.main-prices-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
}



.main-prices-container .main-prices-container-top h2{
    width: 288px;
    min-width: 288px;
    margin-top: 64px;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--black);

}

.main-prices-container .main-prices-container-top p{
    width: 288px;
    min-width: 288px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #757575;
}



.contenedor-tarjetas{
    display: flex;
    height: 300px;
    width: 100%;
    margin: 30px auto;
    

    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-bottom: 30px;
}



.contenedor-tarjetas .main-prices-container-price{
    scroll-snap-align: center;
    width: 190px;
    min-width: 190px;
    height: 247px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 50px 15px 0;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;

}

.contenedor-tarjetas .main-prices-container-price .main-prices-container-price-top-button{
    position: absolute;
    top: -14px;
    padding: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}

.contenedor-tarjetas .main-prices-container-price h3{
    margin-top: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.contenedor-tarjetas .main-prices-container-price div{

    display: flex;
    margin-top: 8px;
}

.contenedor-tarjetas .main-prices-container-price div .dolar-sing{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #363636;

}

.contenedor-tarjetas .main-prices-container-price div .price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #000000;

}

.contenedor-tarjetas .main-prices-container-price p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #757575;

}

.contenedor-tarjetas .main-prices-container-price .main-prices-container-price-bot-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding: 15px;
    margin-top: 16px;
    text-decoration: none;
    border: 2px solid var(--bitcoin-orange);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    color: var(--warm-black);


}

.contenedor-tarjetas .main-prices-container-price .main-prices-container-price-bot-button span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 13px;
    background-image: url("../assets/icons/orange-right-arrow.svg");

}

footer{
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    background-color: var(--bitcoin-orange);
}

footer .footer-socialnetworks{
    display: flex;
    flex-direction: column;



}

footer .footer-socialnetworks a{
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: var(--just-white);
    text-decoration: none;

}

footer .footer-logo{
    margin: auto;

}


.tarjeta1, .tarjeta2, .tarjeta3{
    /*scroll-snap-align: center;*/
    width: 300px;
    min-width: 300px;
    height: 360px;
    margin: 10px 10px;

}

.tarjeta1{
    
    background-color: blue;
}
.tarjeta2{
    background-color: yellow;
}
.tarjeta3{
    background-color: red;
}













